<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>significant_location_change_distance_meters</key>
	<string>100</string>
	<key>place_categories_to_hide_csv</key>
	<string></string>
	<key>number_of_place_details_event_strings</key>
	<integer>2</integer>
	<key>place_details_event_string_2</key>
	<string>You might be interested in &apos;{event_name}&apos; that starts at {start_time} today!</string>
	<key>place_details_event_string_1</key>
	<string>This venue has an event, &apos;{event_name}&apos;, starting at {start_time} today</string>
	<key>number_of_event_notification_strings</key>
	<integer>2</integer>
	<key>event_notification_string_2</key>
	<string>Hey! We&apos;ve just noticed that {event_name} is starting in {time_to_event} at {venue_name}. Sound good?</string>
	<key>event_notification_string_1</key>
	<string>{event_name} is starting in {time_to_event} at {venue_name}</string>
</dict>
</plist>
