<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remote_config_cache_expiration</key>
	<integer>43200</integer>
	<key>search_radius_in_km</key>
	<integer>4</integer>
</dict>
</plist>
